#<IfModule mod_rewrite.c>
#    Options +FollowSymlinks
#    RewriteEngine On

#    RewriteCond %{REQUEST_URI} !debug_kit
#    RewriteRule \.(?:jpe?g|gif|png)$ adaptive-images.php [L]

#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteRule ^(.*)$ index.php [QSA,L]
#</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
